#about {
    position: relative;

}

.heading {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    justify-self: center;
    align-items: center;
    margin: 7rem 0rem;
}

.about-container h1 {
    font-size: 6vmin;
    background: linear-gradient(to right, #0000FF, #ffffff);
    background-clip: text;
    -webkit-text-fill-color: transparent;

}

.heading .line {
    border: .2rem solid white;
    width: 100%;
    border-radius: 20px;
}

.about-detail p {
    color: #D4F1F4;
    text-align: center;
    font-size: 4vmin;
    padding: 0rem 2rem;
    margin: 3rem;
}

@media screen and (max-width:650px) {
    .heading {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: .5rem;
        margin: 7rem 0rem;
    }

    .heading .line {
        border: .2rem solid white;
        width: 100%;
        border-radius: 20px;
    }
}

@media screen and (max-width:350px) {
    .heading {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: .5rem;
        margin: 7rem 0rem;
        padding: 2px;
    }

    .heading .line {
        border: .2rem solid white;
        width: 100%;
        border-radius: 20px;
    }
}